[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Minor samples of work I've done using python
[access "refs/*"]
	owner = group user/Jeremy (JeremyHouser)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jeremy (JeremyHouser)
	label-Verified = -1..+1 group user/Jeremy (JeremyHouser)
	push = group user/Jeremy (JeremyHouser)
	read = group user/Jeremy (JeremyHouser)
	rebase = group user/Jeremy (JeremyHouser)
	removeReviewer = group user/Jeremy (JeremyHouser)
	submit = group user/Jeremy (JeremyHouser)
[access "refs/heads/*"]
	create = group user/Jeremy (JeremyHouser)
	push = +force group user/Jeremy (JeremyHouser)
	pushMerge = group user/Jeremy (JeremyHouser)
	read = group user/Jeremy (JeremyHouser)
[access "refs/tags/*"]
	push = group user/Jeremy (JeremyHouser)
	push = +force group user/Jeremy (JeremyHouser)
